****

# Ficha de Exercicio Matematica Básica

****

## Questão 01

Pedro e João jogaram uma partida de bolinhas de gude. No final, João tinha 20 bolinhas, que correspondiam a 8 bolinhas a mais que Pedro. João e Pedro tinham juntos ?

****
**Resposta :**

Sabemos que João, ao final da partida, tinha 20 bolinhas, correspondente a 8 bolinhas a mais que Pedro, representando matematicamente isso, temos :

__*Obs :*__

**x : Bolinhas que Pedro possuia no final da partida**

$x + 8 = 20 $ $\Longleftrightarrow$ $ x = 20 - 8$ $\Longleftrightarrow$ $x = 12 $ $\text{bolinhas}$

Então, se Pedro possuia **8 bolinhas**, e  João possuia **20 bolinhas**, logo, ao todo , Eles possuiam 28 bolinhas
****

## Questão 02

Se eu tivesse 750 reais a mais do que tenho, poderia comprar uma TV que custa 3500 reais e um DVD de 580 reais. Qual a quantia que tenho ?

****
**Resposta :**

__*Obs :*__

**x : Quantidade em dinheiro que " eu " possuia**

$x + 750 = 3500 + 580$ $\Longleftrightarrow$ $x + 750 = 4080$ $\Longleftrightarrow$ $x = 4080 - 750$ $\Longleftrightarrow$ $x = \text{R}\$ $ $3330,00$ 

Eu possuo **R$ 3330,00**
****

## Questão 03

Carlos comprou uma televisão no valor de R$ 950,00 , dividada em 10 prestações iguais. Ao pagar a quarta prestação, recebeu de presente de seu avô, o restante do dinheiro para a quitação do aparelho. Quanto Carlos recebeu ?

****
**Resposta :**

__*Obs :*__

**p : Valor da prestação por mês**

**x : Valor que o avô presenteou Carlos**

$p = \dfrac{950}{10} = R\$ $ $95,00$ $\text{Por mês}$

Se Carlos pagou ainda 4 prestações, temos que Carlos pagou $95 \cdot 4 = R\$ $ $380,00$ , sobrando então da divida :

$x = 950 - 380 = R\$ $ $570,00$

Logo, Carlos recebeu do seu avô R\$ 570,00

****

## Questão 04

Maria comprou 3 canetas e uma lapiseira, gastando ao todo 60 reais. A lapiseira custou 24 reais. Quanto custou cada caneta, se elas possuem o mesmo preço ?

****
**Resposta :**

__*Obs :*__

**x : lapiseira**

**y : caneta**

$3 \cdot x + y = 60$

Sabendo-se que , a lapiseira custou R\$ 24,00 , temos que :

$3 \cdot x + y = 60$ $\Longleftrightarrow$ $3 \cdot x + 24 = 60$ $\Longleftrightarrow$ $3\cdot x = 60 - 24 = 36$ $\Longleftrightarrow$ $x = \dfrac{36}{3} = 12$

Logo, temos que , o preço unitario das canetas é de R\$  12,00

****

## Questão 05

Cristina foi a uma livraria para comprar 5 cadernos e 1 livro. O total da conta foi  22 reais. Como o livro custou 7 reais e todos os cadernos têm o mesmo preço, quanto ela pagou por cada caderno ?

****
**Resposta :**

__*Obs :*__

**x : caderno**

**y : livro**

$5\cdot x + y = 22$

Sabendo-se que , o livro custou R\$ 7,00, então :

$5\cdot x + y = 22$ $\Longleftrightarrow$ $5\cdot x + 7 = 22$ $\Longleftrightarrow$ $5\cdot x = 22 - 7 = 15$ $\Longleftrightarrow$ $x = \dfrac{15}{5} = 3$

Logo, temos que , o preço unitario dos cadernos é de R\$  3,00


****

## Questão 06

Para uma excursão a um museu, um colégio alugou 4 ônibus. Em cada ônibus foram colocados 35 alunos. Além dos alunos 10 professores acompanham esses alunos na excursão. Quantas pessoas ao todo participaram dessa excursão ?

****
**Resposta :**

__*Obs :*__

**x : alunos**

**y : professores**

Primeiro, vamos calcular quantos passageiros, por onibus viajavam :

$4\cdot x = 4 \cdot 35 = 140 $ $\text{alunos}$
 
Vamos somar agora, os 10 professores que também viajam com os alunos :

$\text{Total de participantes} = 4\cdot x + y = 140 + 10 = 150 $ $\text{participantes}$
****

## Questão 07

No ano de 1992, os candidatos ao vestibular de uma faculdade foram distribuídos em 112 salas de 35 lugares cada uma. Tendo sido necessário, ainda, formar uma classe incompleta com 18 candidatos, quantos candidatos havia para o vestibular dessa faculdade ?

****
**Resposta :**

__*Obs :*__

**x : Capacidade total da area disponibilizada da faculdade (Pessoas)**

**y : Total de pessoas que prestaram o vestibular**

Note que, se 112 salas possuem 35 lugares, temos que :

$x = 112 \cdot 35 =  3920 $ $\text{pessoas}$

Ao acrescentarmos a sala, com apenas 18 candidatos, temos que :

$y = x + 18 = 3920 + 18 = 3938 $ $\text{pessoas}$

****

## Questão 08

Eu e mais quatro amigos fomos a um restaurante. A conta de 65 reais foi dividida igualmente entre nós. Paguei a minha parte e fiquei ainda com 11 reais. Qual a quantia que eu tinha quando entrei no restaurante ?

****
**Resposta :**

__*Obs : *__

**$Total = 65$**

**$x = \dfrac{Total}{5} = 13 $ $\text{Reais}$ : Valor da conta que cada um pagou**

**y : Valor inicial de entrada no restaurante, da pessoa**

Se eu tinha R\$ 11,00 , e gastei R\$ 13,00 pagando a conta, então quando entrei no restaurante possuia :

$y = x + 11 = 13 + 11 = 24$ $\text{Reais}$

Logo, eu possuia R\$ 24,00 quanto entrei no restaurante 
****

## Questão 09

Ari comprou 5 caixas de suco. A vendedora verificou o preço da caixa e, como o pagamento foi à vista, fez um desconto de 76 reais. Com isso, pagou 304 reais pelas 5 caixas. Qual o preço de cada caixa antes do desconto ?

 ****
**Resposta :**

__*Obs :*__

**$t = 304 + 76 = 380$ reais : Total pago (Antes do desconto)**

**x : Valor unitario de cada caixa (Antes do desconto)**

$x = \dfrac{t}{5} = \dfrac{380}{5} = 76$

Logo, sabemos que o preço unitario da caixa, antes do desconto, era de R\$ 76,00

****

## Questão 10

Um painel luminoso mostra figuras em movimento. Para conseguir esse efeito, o painel tem 65 linhas com 152 lâmpadas em cada linha e 12 linhas com 108 lâmpadas em cada linha. Quantas são as lâmpadas desse painel ?

****
**Resposta :**

__*Obs :*__
****

## Questão 11

Uma familia que veio dos EUA reservou para sua viagem de férias ao Brasil 15 cédulas de 50 dólares e 10 cédulas de 100 dólares. Ao chegar ao Brasil, um dólar valia 3 reais. Quantos reais a família reservou para a viagem ?

****
**Resposta :**

__*Obs :*__

**x: cédula de 50 dólares**

**y: cédula de 100 dólares**

**t: Total reservado (Em dolares)**

Este problema é um problema de conversão, de dolar par real, logo :

total (em dolares) $= 15 \cdot x + 10 \cdot y = 15 \cdot 50 + 10 \cdot 100 = 1750$ dolares

Logo, convertendo esses dolaresss para real, temos que :

$1 $ $\text{real}$ $ \longrightarrow $ $3$ $\text{dolares}$

$t $ $\text{real}$ $ \longrightarrow $ $1750$ $\text{dolares}$

$ \Updownarrow $

$3 \cdot t = 1750$ $\Longleftrightarrow$ $t = \dfrac{1750}{3} \approx $ $R\$ $ $ 583,33$
****